version: "3.8"

services:
  archiveTeamWarrior:
    image: atdr.meo.ws/archiveteam/warrior-dockerfile
    container_name: archiveTeamWarrior
    restart: always
    hostname: archiveTeamWarrior
    labels:
      com.centurylinklabs.watchtower.enable: "true"
    environment:
      - DOWNLOADER=J4nis05
      - SELECTED_PROJECT=auto
      - CONCURRENT_ITEMS=5

  dashy:
    image: lissy93/dashy
    container_name: dashy
    restart: always
    volumes:
      - ./data/dashy/config.yml:/app/public/conf.yml
      - ./data/dashy/item-icons:/app/public/item-icons
    environment:
      - NODE_ENV=production

  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    restart: always
    volumes:
      - ./data/gitea/data:/data
      - ./data/gitea/config:/etc/gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000

  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: homeassistant
    restart: always
    privileged: true
    volumes:
      - ./data/home-assistant:/config
      - /etc/localtime:/etc/localtime:ro

  meshcentral:
    image: typhonragewind/meshcentral
    container_name: meshcentral
    restart: always
    volumes:
      - ./data/meshcentral/data:/opt/meshcentral/meshcentral-data
      - ./data/meshcentral/user_files:/opt/meshcentral/meshcentral-files
    environment:
      - HOSTNAME=mesh.j4nis05.ch
      - REVERSE_PROXY=mesh.j4nis05.ch
      - REVERSE_PROXY_TLS_PORT=
      - IFRAME=false
      - ALLOW_NEW_ACCOUNTS=false
      - WEBRTC=false
  
  # Note: Add "bind_addresses: ['127.0.0.1']" to listeners section in homeserver.yaml
  synapse:
    image: matrixdotorg/synapse:latest
    container_name: synapse
    restart: always
    volumes:
      - /docker/ext/data/docker/matrix/data:/data
    environment:
      VIRTUAL_HOST: "j4nis05.ch"
      VIRTUAL_PORT: 8008
      SYNAPSE_SERVER_NAME: "j4nis05.ch"
      SYNAPSE_REPORT_STATS: "yes"

  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: always
    volumes:
      - ./data/vaultwarden:/data
    environment:
      WEBSOCKET_ENABLED: "true"


networks:
  default:
    external: true
    name: proxynet
