# Pingvin Share
name: "pingvin"


services:
  pingvin:
    image: stonith404/pingvin-share
    container_name: pingvin
    restart: always
    volumes:
      - /mnt/data/docker/pingvin/pingvin/data:/opt/app/backend/data
      - /mnt/data/docker/pingvin/pingvin/images:/opt/app/frontend/public/img


networks:
  default:
    external: true
    name: proxynet