version: "3.8"

services:
  minecraft-server:
    image: j4nis05/minecraft-server:latest
    container_name: mc-wohnzimmer
    restart: always
    command: java -Xmx4096M -Xms4096M -jar /minecraft/server.jar nogui
    ports:
      - 25565:41340
      - 25575:25575
    volumes:
      - /docker/vanilla:/minecraft