# Otter Wiki
name: "otterwiki"


services:
  otterwiki:
    image: redimp/otterwiki
    container_name: otterwiki
    restart: always
    volumes:
      - /mnt/data/docker/otterwiki/otterwiki/data:/app-data


networks:
  default:
    external: true
    name: proxynet