/* Smaller Screens */
@media (max-width: 775px) {
    div#content {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div#divsearch {
        margin-top: 15vh auto;
        width: 90vw;
    }

    input#search {
        width: 84vw;
        padding: 7px 2.5vw;
    }    

    div#icons {
        width: 90vw;
    }

    ul {
        grid-template-columns: repeat(2, 1fr);
        width: 90vw;
        gap: 0;
        margin: 0;
        justify-content: center;
        justify-items: center;
    }

    li {
        width: 40vw;
        margin: 2.5px 0;
    }
}